In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#import requests

url = 'https://data.gov.sg/api/action/datastore_search?resource_id=8a087b7c-a11b-4da8-bbb6-ac933f465acd'

res = requests.get(url)

res.status_code

sq = res.json()

sq

sq.keys()

data = sq['result']

sales_df = pd.DataFrame(data['records'])

sales_df.shape

sales_df.head()

In [2]:
sales_df = pd.read_csv('../assets/cea-salespersons-property-transaction-records-residential.csv')
agent_df = pd.read_csv('../assets/cea-salesperson-information.csv')

C:\Users\sunbeams\AppData\Local\Temp\ipykernel_7584\2297189616.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  sales_df = pd.read_csv('../assets/cea-salespersons-property-transaction-records-residential.csv')

In [3]:
sales_df.shape

(611856, 9)

In [7]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611856 entries, 0 to 611855
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   salesperson_name     611856 non-null  object
 1   transaction_date     611856 non-null  object
 2   salesperson_reg_num  611856 non-null  object
 3   property_type        611856 non-null  object
 4   transaction_type     611856 non-null  object
 5   represented          611856 non-null  object
 6   town                 611856 non-null  object
 7   district             611856 non-null  object
 8   general_location     611856 non-null  object
dtypes: object(9)
memory usage: 42.0+ MB

In [8]:
sales_df.head()

,salesperson_name,transaction_date,salesperson_reg_num,property_type,transaction_type,represented,town,district,general_location
0,MUHAMMAD NORIZZAM BIN KAMARUZAMAN,AUG-2018,R057250D,HDB,RESALE,BUYER,BUKIT PANJANG,-,-
1,LIM JOO HENG,AUG-2018,R011043H,HDB,RESALE,SELLER,BUKIT PANJANG,-,-
2,WONG TSU HAW,MAY-2017,R045055G,HDB,RESALE,SELLER,BUKIT PANJANG,-,-
3,TAY BEE KIAT,JUL-2018,R056733J,HDB,RESALE,SELLER,BUKIT PANJANG,-,-
4,SNG KIM ENG ANGELA,JAN-2017,R045695D,HDB,RESALE,BUYER,SENGKANG,-,-

In [10]:
agent_df.shape

(34955, 6)

In [11]:
agent_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34955 entries, 0 to 34954
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   salesperson_name         34955 non-null  object
 1   registration_no          34955 non-null  object
 2   registration_start_date  34955 non-null  object
 3   registration_end_date    34955 non-null  object
 4   estate_agent_name        34955 non-null  object
 5   estate_agent_license_no  34955 non-null  object
dtypes: object(6)
memory usage: 1.6+ MB

In [12]:
agent_df.head()

,salesperson_name,registration_no,registration_start_date,registration_end_date,estate_agent_name,estate_agent_license_no
0,"WANG SOON YEE, LARRY",P015022G,2011-01-01,2022-12-31,MCDOWELL REALTY NETWORK,L3006213G
1,MOHAMED RAHIMATULLAH S/O S M IBRAHIM (MOHD),R015018I,2011-01-01,2022-12-31,MCDOWELL REALTY NETWORK,L3006213G
2,SALBIAH BINTE RAMLI (SALBIAH),R015021I,2011-01-01,2023-12-31,MCDOWELL REALTY NETWORK,L3006213G
3,LEE YAT SENG (STEVEN),R015024C,2011-01-01,2022-12-31,MCDOWELL REALTY NETWORK,L3006213G
4,DAVID SIM YEOW KWEE (DAVID SIM BBM),R015027H,2011-01-01,2023-12-31,MCDOWELL REALTY NETWORK,L3006213G

In [16]:
combined_sales_df = sales_df.merge(agent_df,how='left',left_on='salesperson_reg_num',right_on='registration_no')

In [17]:
combined_sales_df.shape

(611856, 15)

In [18]:
combined_sales_df.head()

,salesperson_name_x,transaction_date,salesperson_reg_num,property_type,transaction_type,represented,town,district,general_location,salesperson_name_y,registration_no,registration_start_date,registration_end_date,estate_agent_name,estate_agent_license_no
0,MUHAMMAD NORIZZAM BIN KAMARUZAMAN,AUG-2018,R057250D,HDB,RESALE,BUYER,BUKIT PANJANG,-,-,MUHAMMAD NORIZZAM BIN KAMARUZAMAN (NORIZZAM (Z...,R057250D,2020-01-01,2022-12-31,ORANGETEE & TIE PTE. LTD.,L3009250K
1,LIM JOO HENG,AUG-2018,R011043H,HDB,RESALE,SELLER,BUKIT PANJANG,-,-,LIM JOO HENG (GEORGE LIM),R011043H,2011-01-01,2022-12-31,PROPNEX REALTY PTE. LTD.,L3008022J
2,WONG TSU HAW,MAY-2017,R045055G,HDB,RESALE,SELLER,BUKIT PANJANG,-,-,WONG TSU HAW (JACK),R045055G,2022-01-01,2022-12-31,PROPNEX REALTY PTE. LTD.,L3008022J
3,TAY BEE KIAT,JUL-2018,R056733J,HDB,RESALE,SELLER,BUKIT PANJANG,-,-,TAY BEE KIAT (JOANNE),R056733J,2016-01-27,2022-12-31,ERA REALTY NETWORK PTE LTD,L3002382K
4,SNG KIM ENG ANGELA,JAN-2017,R045695D,HDB,RESALE,BUYER,SENGKANG,-,-,SNG KIM ENG ANGELA (Angela Sng),R045695D,2018-03-08,2022-12-31,HUTTONS ASIA PTE. LTD.,L3008899K

In [23]:
combined_sales_df['transaction_date'].value_counts()

JAN-2021    20636
MAY-2021    19187
DEC-2021    19186
JUN-2021    19047
APR-2021    19026
            ...
MAY-2019     2054
APR-2019     2033
MAR-2019     1965
FEB-2019     1845
OCT-2022     1447
Name: transaction_date, Length: 70, dtype: int64

In [25]:
combined_sales_df['property_type'].value_counts()

HDB                       303761
CONDOMINIUM_APARTMENTS    268122
LANDED                     32339
EXECUTIVE_CONDOMINIUM       5842
STRATA_LANDED               1792
Name: property_type, dtype: int64

In [24]:
combined_sales_df['transaction_type'].value_counts()

WHOLE RENTAL    271257
RESALE          264327
ROOM RENTAL      53189
NEW SALE         22989
SUB-SALE            94
Name: transaction_type, dtype: int64